<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.j1.health.dao.CategoryDao">

    <resultMap id="category" type="com.j1.health.model.Category"/>
    
    <insert id="insertCategoryByMap" parameterType="Map"  keyProperty="sid" useGeneratedKeys="true">
    	 INSERT INTO  f_big_category (
    	      big_category_name,
    	      version
    	      ) values (
    	      #{bigCategoryName},
    	      #{version}
    	      )
    </insert>
    
    <insert id="insert" parameterType="category"  keyProperty="id" useGeneratedKeys="true">
	   INSERT INTO  t_test (
	         id,
	         name
		)
		VALUES
		( 
		 null,
		 #{name}
		)
	</insert>
</mapper> 
