<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.j1.health.persitent.dao.mysql.IllnessDao">

    <insert id="insertIllnessByBatch" parameterType="java.util.List"  useGeneratedKeys="true">
	   	insert into f_illness (category_id,illnees_name,illness_url,version,create_time)   
    	values  
    <foreach collection="list" item="item" index="index" separator="," >  
        (#{item.categoryId},#{item.illneesName},#{item.illnessUrl},#{item.version},now())  
    </foreach>  
	</insert>
	
	<!--  获取疾病url -->
	<select id="getIllnessList"  resultType="java.util.Map">
		select 
		t.sid as sid,
		t.illness_url as illnessUrl
		from f_illness t
	</select>
	
	<!--  获取未抓取下来的url -->
	<select id="getErrorIllnessList"  resultType="java.util.Map">
		select 
		t.sid as sid,
		t.illness_url as illnessUrl
		from f_illness_error t
	</select>
	
	<!-- 批量插入数据 -->
	<insert id="insertIllnessCauseByBatch" parameterType="java.util.List"  useGeneratedKeys="true">
	   	insert into f_illness_cause_url (illness_id,illness_cause_url,version)   
    	values  
    <foreach collection="list" item="item" index="index" separator="," >  
        (#{item.illnessId},#{item.illnessCauseUrl},#{item.version})  
    </foreach>  
	</insert>
	
</mapper> 
