<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.j1.health.persitent.dao.mysql.IllnessDao">

    <insert id="insertIllnessByBatch" parameterType="java.util.List"  useGeneratedKeys="true">
	   	insert into f_illness (category_id,illnees_name,illness_url,version,create_time)   
    	values  
    <foreach collection="list" item="item" index="index" separator="," >  
        (#{item.categoryId},#{item.illneesName},#{item.illnessUrl},#{item.version},now())  
    </foreach>  
	</insert>
	
	<!--  获取疾病url -->
	<select id="getIllnessList"  resultType="java.util.Map">
		select 
		t.sid as sid,
		t.illness_url as illnessUrl
		from f_illness t
	</select>
	
	<!--  获取未抓取下来的url -->
	<select id="getErrorIllnessList"  resultType="java.util.Map">
		select 
		t.sid as sid,
		t.illness_url as illnessUrl
		from f_illness_error t
	</select>
	
	<!--获取未抓取下来的url -->
	<select id="getIllnessMedecineList"  resultType="java.util.Map">
		select 
		t.illness_id as sid,
		t.illness_start_url as illnessUrl
		from f_illneess_medecine_url t
	</select>
	
	<!--  获取药品库 -->
	<select id="getMedecineList"  resultType="java.util.Map" parameterType="java.util.Map">
		select 
		t.illness_id as sid,
		t.illness_medecine_url as illnessUrl
		from f_illness_medecine_spider_url t
		limit #{start},#{pageSize}
	</select>
	
	<!--  获取疾病属性url -->
	<select id="getIllnessToAttributeUrl"  resultType="java.util.Map" parameterType="java.util.Map">
		select 
		t.illness_id as sid,
		t.illness_cause_url as illnessUrl
		from f_illness_cause_url t
		order by t.illness_id asc
	</select>
	
	<!-- 批量插入数据 -->
	<insert id="insertIllnessCauseByBatch" parameterType="java.util.List"  useGeneratedKeys="true">
	   	insert into f_illness_cause_url (illness_id,illness_cause_url,version)   
    	values  
    <foreach collection="list" item="item" index="index" separator="," >  
        (#{item.illnessId},#{item.illnessCauseUrl},#{item.version})  
    </foreach>  
	</insert>
	
	<!-- 批量药品和疾病库 -->
	<insert id="insertIllnessMedecineByBatch" parameterType="java.util.List" >
	   	insert into f_illness_medecine_spider_url (illness_id,illness_medecine_url)   
    	values  
	    <foreach collection="list" item="item" index="index" separator="," >  
	        (#{item.illnessId},#{item.illnessMedecineUrl})
	    </foreach>
	</insert>
	
	<!-- 批量插入药品库 -->
	<insert id="insertMedecineByBatch" parameterType="java.util.List" >
	   	insert into f_medecine_url (illness_id,medecine_url,medecine_name,medecine_price,medecine_image_url,medecine_product_name)   
    	values  
	    <foreach collection="list" item="item" index="index" separator="," >  
	        (#{item.illnessId},#{item.medecineUrl},#{item.medecineName},#{item.medecinePrice},#{item.medecineImageUrl},#{item.medecineProductName})
	    </foreach>
	</insert>
	
	<!-- 批量疾病url -->
	<insert id="insertIllnessToAttributeUrlByBatch" parameterType="java.util.List" >
	   	insert into f_illness_attribute_url (illness_id,illness_cause_url
										,illness_protect_url ,illness_concurrence_url
										,illness_symptom_url,illness_check_url,illness_identify_url
										,illness_treatment_url,illness_nurse_url,illness_maintenance_url)   
    	values  
	    <foreach collection="list" item="item" index="index" separator="," >  
	        (#{item.illnessId},#{item.illnessCauseUrl}
					,#{item.illnessProtectUrl},#{item.illnessConcurrenceUrl}
					,#{item.illnessSymptomUrl},#{item.illnessCheckUrl}
					,#{item.illnessIdentifyUrl},#{item.illnessTreatmentUrl}
					,#{item.illnessNurseUrl},#{item.illnessMaintenanceUrl})
	    </foreach>
	</insert>
	
</mapper> 
